<style>

.logos{
	margin-top:72px;
}
.sp {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}



</style>


<div class="card bg-light logos">
	<div class="row sp">
		
			<div class="col-lg-2 sp1 ">
				<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
				<img alt="Assets" src="/assets/circle1.png", style:width:10px; >
				
			</div>
			<div class="col-lg-2 sp1 ">
				<%#= image_tag(BusinessGrowth.last.image, style: 'width:20%')%>
				<img alt="Assets" src="/assets/codelab1.png", style: width:10px >
				<!-- <h4>CodeLab</h4> -->
			</div>
	
			<div class="col-lg-2 sp1 ">
				<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
				<img alt="Assets" src="/assets/ideaa1.png", style: width:10px >
				<!-- <h4>ideaa</h4> -->
			</div>
			<div class="col-lg-2 sp1">
				<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
				<img alt="Assets" src="/assets/ideaa1.png", style: width:10px >
				<!-- <h4>hexa</h4> -->
			</div>
		
		
			<div class="col-lg-2 sp1">
				<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
				<img alt="Assets" src="/assets/hexa1.png", style: width:10px >
				<!-- <h4>muzica</h4> -->
			</div>
			<div class="col-lg-2 sp1">
				<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
				<img alt="Assets" src="/assets/muzica1.png", style: width:10px >
				<!-- <h4>LightAI</h4> -->
			</div>	
	</div>
</div>