<style>

.fcontainer{
	display: flex;
/*	border: 2px solid grey;*/
	height: 20rem;
/*	flex-direction: row;*/
/*	justify-content: center;*/
/*	justify-content: flex-start;*/
/*	align-items: center;*/
/*	align-item: start;*/
justify-content: space-around;
/*align-items: baseline;*/
margin-top: 10em;


}

.fitem{
/*	background-color: red;*/
/*	border: 2px solid black;*/
/*	margin:10px;*/
	width: 18.125rem;
	height: 7.625rem;
	margin-top: 3vh;
}

</style>


<section>
	<div class="row my-5 fcontainer" style="background-color:#edf5ef">
		<div class="fitem ">
			<%#= image_tag(BusinessGrowth.last.image, style: 'width:80%', class:"mx-3 my-3")%>
				<p class="space4">We help businesses grow by services that matter.</p><br><br>
				<p>support@pixoatic.com</p>
				<p>Pixoatic Solutions</p>
		</div>
		<div class="fitem ">
			<h3>Company</h3>
			<p>About Us</p>
			<p>Careers</p>
			<br><br>
			<h4>Dedicated Hiring</h4>
			<p>Looking to hire for long-team or fulltime assignments?</p>
		</div>
		<div class="fitem ">
			<h3>Service</h3>
			<p>Design & Discovery</p>
			<p>Web Development</p>
			<p>Mobile Apps</p>
			<p>Website Development</p>
			<p>Enterprice Apps</p>
		</div>
		<div class="fitem ">
			<h4>Contact</h4>
			<h5>India</h5>
			<p>131, Shubh Sumpada, Nipania,Indore, Madhya Pradesh 453771</p>
			<p>E-237AA, Industial AreaPhase 8B, Mohali 160071</p>
			<h5>Norway</h5>
			<p>Brigadeveien 46, Osla, Norway 1769</p>
		</div>
	</div>
</section>

<section>
	<div class="row mx-3">
		<p>Copyright@ 2023 All right reserved</p>
	</div>
</section>