<footer class=" pt-5 pb-4" style="background-color:#edf5ef">
	<div class="container text-center text-md-left">
		<div class="row text-center text-md-left">
			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
				<a class="navbar-brand" href="#"><img alt="Assets" src="/assets/Logo.png"></a>
				<p style="color: black;" class="mt-2">We help businesses grow by services that matter.</p><br>
				<p class="mt-5 mt-5">support@pixoatic.com</p>
				<p>Pixoatic Solutions</p><br><br><br>


			</div>

			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" style="color: black;">
				<h5 >Company</h5>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">About Us</a>
				</p>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">Careers</a>
				</p>
				<h5>
					<a href="#"  style="text-decoration: none; color:black;">Dedicated Hiring</a>
				</h5>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">Looking to hire for long-team or fulltime assignments?</a>
				</p>
			</div>

			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="color:black;">
				<h5 >Services</h5>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">Design & Discovery</a>
				</p>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">Web Development</a>
				</p>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">Mobile Apps</a>
				</p>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">Website Development</a>
				</p>
				<p>
					<a href="#"  style="text-decoration: none; color:black;">Enterprice Apps</a>
				</p>
			</div>

			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="color:black;">
				<h4>Contact</h4>	
				<h5>
					<i class="mr-3"></i>India
				</h5>
				<p>
					<i class="mr-3"></i>131, Shubh Sumpada, Nipania,Indore, Madhya Pradesh 453771
				</p>
				<p>
					<i class="mr-3"></i>E-237AA, Industial AreaPhase 8B, Mohali 160071
				</p>
				<h5>
					<i class="mr-3"></i>Norway
				</h5>
				<p>
					<i class="mr-3"></i>Brigadeveien 46, Osla, Norway 1769
				</p>	
			</div>

		</div>

		<hr class="mb-4">

		<div class="row align-items-center">
			<div class="col-md-7 col-lg-8">
				<p>Copyright@ 2023 All right reserved</p>
			</div>

			<div class="col-md-5 col-lg-4">
				<div class="text-center text-md-right">
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<a href="#" class="btn-floating btn-sm text-white" style="font-size:23px;"><i class="fab fa-facebook"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="btn-floating btn-sm text-white" style="font-size:23px;"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="btn-floating btn-sm text-white" style="font-size:23px;"><i class="fab fa-google-plus"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="btn-floating btn-sm text-white" style="font-size:23px;"><i class="fab fa-linkedin-in"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="btn-floating btn-sm text-white" style="font-size:23px;"><i class="fab fa-youtube"></i></a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</footer>















