
<!-- 
<nav class="navbar navbar-expand-md ">
	<div class="container">
		<a class="navbar-brand" href="#"><img alt="Assets" src="/assets/Logo.png"></a>

		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbaraid">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="#navbaraid">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
					<a href="#" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Service</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Contact</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Contact</a>
				</li>
				<li class="nav-item ">
			      	<a  href="#" class=" btn btn-outline-primary ">Request Quote</a>
			      </li>
			</ul>
		</div>
	</div>
</nav> -->



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img alt="Assets" src="/assets/Logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  href="#">On-Demand Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Contact Us</a>
        </li>
      </ul>
      
			<a  href="#" class=" btn btn-outline-primary ">Request Quote</a>
	
    </div>
  </div>
</nav>