<style>
	ul.navbar-nav {
    margin-left: 20%;
}

a.btn.btn-outline-primary {
    margin-left: 10%;
}

a.navbar-brand {
    margin-left: 3%;
}
.navheight{
	height: 85px;
}
</style>


<nav class="navbar  navbar-expand-md  navbar-light navheight  ">
  <a class="navbar-brand" href="#"><img alt="Assets" src="/assets/Logo.png"></a>
  <div class="collapse navbar-collapse  ">
    <ul class="navbar-nav ">
	      <li class="nav-item ">
	        <a class="nav-link" href="<%= root_path %>">Home </a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="<%= services_path %>">Service</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="#">on-Demand Development</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Careers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="#">Contact Us</a>
	      </li>
  
    </ul>
    <a class=" btn btn-outline-primary" href="#">Request Quote</a>
  </div>
</nav>

