<style>
.space{
/*	margin-top:31px;*/
/*	height:600px;*/
/*	margin-bottom: 94px;*/
/*position: absolute;*/
/*width: 1440px;*/
height: 500px;
left: 0px;
top: 85px;
/*margin-bottom:94px;*/
}

@media (min-width: 992px)
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    height: 240px;
}

.space2{
	margin-top:85px;
	margin-right:188px;
	margin-left:188px;
}
.space3{
	margin-top: 15px;
	margin-left: 189px;
	margin-right:190px;
	padding-bottom: 94;
}

.space4{
/*	margin-top:79px;*/

}

.space5{
	margin-top:79px;
	margin-left:405px;
	margin-right:405px;
}
.space6 {
    margin-left: 351px;
}

.space8{
	margin-top: 69px;
}

.space10{
/*    margin-top: 69px;*/
    margin-left: 340px;
/*    margin-right: 75px;*/
}

.space11{
	margin-left:30px;
	margin-right:30px;
}
.space12{
	margin-left:75px;
}

.space13{
	margin-left:50px;
}
.space14{
	margin-left:220px;
}

/*.dff{
	display:inline-block;
}*/

</style>
<div class="card .space" style="background-color: #d9fcf7;">
	<div class="row " >	
		<div class="col-lg-12">	
			<h3 class="space2">Custom software development services</h3>
			<p class="space3">We can build a website, web application or mobile app for you using Ruby on Rails. We can also check your application for bugs, errors and inefficiencies as part of our custom software development service.  </p>
		</div>		
	</div>
</div>	

<%= render "feature" %>

<div class="card space4" style="background-color: #e1eddf">
	<h3 class="space5">Our Technologies</h3>
	<p class="space6">Your idea, Our Expertise = Maximum Customer Success </p>
	<div class="row">
		<div class="col-lg-3 space12">
			<h3>Ruby on Rails Development</h3>
			<p>We are an IT vender working worldwide and capable of carrrying out your software initiative on any continent owing to our globle react and optimally distributed team, Our ROR developers build scalable and secure custom apps with responsive design, high provided numerous demanding customers in various segments with top-rating IT solution</p>
			<a class="btn  btn-primary" href="#">Talk to Our Expert</a>
		</div>
		<div class="col-lg-3 space13">
			<h3>React Native Developer</h3>
			<p>Prople your business growth with our ReactNative development services for ios, Android & window tailored to your needs.<br>
				We provide custom ReactNative app development service as the fast and cost-effective options for mobile app projects. This technology allows using one team for both web and mobile applications, dramatically improving cost-efficient. React Native is championed by facebook and adopted by giants like Walmant, Bloomberg and Uber.
			</p>
			<a class="btn  btn-primary" href="#">Talk to Our Expert</a>
		</div>
		<div class="col-lg-3 space13">
			<h3>React JS Developer</h3>
			<p>We provides end-to-end development services and creates innovative web applications for startups and large-scale enterprises. Having full-scale expertise in this Javascript library, Our professionals create exceptional user interfaces for web & mobile applications. We provide dynamic and business-specific React Js solutions that handle synchronesation and data update wiuthout reloading. </p>
			<a class="btn  btn-primary" href="#">Talk to Our Expert</a>
		</div>
	</div>
</div>


<div class="container space8">
	<h3 class="space10">Our workflow principles</h3>
	<p>We deliver easy-and-cheap-to-cheap-to-maintain product within the agreed timeframe and budget using an optimal technology stack</p>
	<div class="row space12">
		<div class="col-lg-3 ", style="background-color:#f7d2d2">
			<h3>Control scope & budge</h3>
			<p>To deliver projects within a specific timeframe and budget, we have a specific timeframe and budget, we have a preproject phase that involves all stakeholders. During this stage, we discuss every detail and aspect of the project and agree upon scope, schedule and cost. We then control those baselines by regularly reviswing the budget to actual costs.  </p>
		</div>
		<div class="col-lg-3 space13", style="background-color:#1ff2ba" >
			<h3>Manage technology</h3>
			<p>We carefully choose the tech stack to meet your expectations and specific business requirements. We prefer technologies that give our clients a competitive advantage as well as reduce development costs and shorten the time to market. Our goal is to help you meet your current needs and plan for the future.</p>
		</div>
		<div class="col-lg-3 space13", style="background-color:#a3eef7">
			<h3>Save on maintenance</h3>
			<p>Constantly updating your software is key to remaining competitive. Yet changes can be difficult and expensive. To make it cheaper and less steessful, we design your product property in the first place. Our code is easy to understand, modify and maintain. So you can add changes to the existing code easily.</p>
		</div>
	</div>
</div>

<div class="container space8">
	<h3 class="space10">Our approach</h3>
	<p class="space14">Benefits of choosing Us AS Your Development Company</p>
	<div class="row">
		<div class="col-lg-8" >
			<!-- <div class="row ">
				<h4 >Agile</h4>
				<p>We folllow the agile approach, working one or two week iteations, sprints and maintain constant communication between stakeholders. </p>
			</div>
			
			<div class="row">
				<h4>Transparency</h4>
				<p>We provide access to all the necessary tools to track progress, making demos at the end of every srpint, and hold regular meeting.</p>
			</div>
			<div>
				<h4>Teamwork</h4>
				<p>We believe that mutual trust during work leads to big results, cohesion makes us work as a single mechanism that to a great result</p>
			</div>
			<div class="row">
				<h4>Flexibility</h4>
				<p>We're very flexible in how we work, it doen't matter do you need to augment your team or create a product from scratch, we have a solution.</p>
			</div> -->
			<%= sanitize OurOpprach.last.title %>
			
		</div>
	
		<div class="col-lg-4">
			<%= image_tag(Startup.last.image, style:"width:100%")%>
		</div>
	</div>
</div>

<%= render "footer" %>